<div class="container">
	<div class="row">
		<div class="col-lg-10">
			<h1 id="headline">Welcome</h1>
		</div>
		<div class="col-lg-2">
			<button class="btn btn-info" id="seconBtn" onclick="location.href='/newPatientForm'" role="button">Add New Patient</button>
		</div>
	</div>
		<hr>
	<div class="row">
		<h3 class="subHead">Recent Patients</h3>
  </div>
	<div class="row">
  	<table class="table table-striped">
  		<thead>
    		<tr>
      		<th scope="col">Name</th>
      		<th scope="col">DOB</th>
      		<th scope="col">Prescriptions</th>
      		<th scope="col">Comments</th>
      		<th scope="col">Update</th>
      		<th scope="col">Delete</th>
    		</tr>
  		</thead>
  		<tbody>
      	{{#each patients}}
    			<tr>
      			<th scope="row">{{this.name}}</th>
      			<td>{{this.DOB}}</td>
      			<td>{{this.prescription}}</td>
      			<td>{{this.comments}}</td>
      			<td><button class="btn btn-warning btn-sm update" onclick="location.href='/updatePatient'" data={{this.id}}>Update</button></td>
      			<td><button class="btn btn-danger btn-sm delete" data={{this.id}}>Delete</button></td>
    			</tr>
						{{/each}}
  			</tbody>
		</table>
	</div>
</div>

</div>
<script>


  $(".delete").on("click", function()
  {
    let id = $(this).attr("data");

    if (confirm("Are you sure you want to delete the patient?"))
    {

      patients.deletePatient(function(result)
      {
        alert("Patient deleted");
      }, id);

      location.reload();

} else {
    location.reload();
}

  });

// $(".update").on("click", function()
// {
//     const id = $(this).attr("data");

//     $.ajax({
//       url: `/api/patients/${id}`,
//       method: 'GET'
//     });

// });


</script>
