<div class="container">
  <div class="row">
    <div class="col-lg-11">
      <h1 id="headline">Update Patient</h1>
    </div>
    <div class="col-lg-1">
      <button class="btn btn-info" id="seconBtn" onclick="location.href='/home'" role="button"><i class="fas fa-home"></i></button>
    </div>
  </div>
    <hr>
  <div class="row">
    <div class="col-lg-7">
        <div class="form-group">
          <label for="patientName" id="subHead">Name: (Required)</label>
          <input type="text" class="form-control" id="patientName" placeholder="Name" value="{{this.patient.name}}">
        </div>
        <div class="form-group">
          <label for="patientAge" id="subHead">Date of Birth: (Required)</label>
          <input type="text" class="form-control" id="patientDOB" placeholder="DD/MM/YYYY" value="{{this.patient.DOB}}">
        </div>
        <div class="form-group">
          <label for="patientComments" id="subHead">Prescriptions:</label>
          <input type="text" class="form-control" id="patientPrescriptions" value="{{this.patient.prescription}}" placeholder="Prescriptions"></textarea>
        </div>
        <div class="form-group">
          <label for="patientComments" id="subHead">Additional Comments:</label>
          <textarea class="form-control" aria-label="With textarea" id="patientComments">{{this.patient.comments}}</textarea>

        </div>
    </div>
  </div>
    <button class="btn btn-info" data={{this.patient.id}} id="updatePatient">Submit Update</button>
</div>

<script>
$("#updatePatient").on("click", function(){
  const id = $("#updatePatient").attr("data");
  var patientName = $("#patientName").val().trim();
  var patientDOB = $("#patientDOB").val();
  var patientPrescription = $("#patientPrescriptions").val();
  var comments = $("#patientComments").val();

  if (patientName === "" || patientDOB === "") {
  alert("Please fill in required fields");
  }

  else {
  var patient = {
    name: patientName,
    DOB: patientDOB,
    prescription: patientPrescription,
    comments: comments
    }
    patients.updatePatient(function(result){
      alert("Patient information updated");
      window.location.href = "/home";
    }, id, patient);
    
  });
  }

  
</script>

